#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #393939;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.App form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.App label {
  color: white
}

.App input {
  padding: .5rem .5rem;
  border-radius: 8px;
}


.decks {
  display: grid;
  width: 600px;
  margin: 0 auto;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.decks li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 20px 0;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

/* .decks li:hover {
  cursor: pointer;
  background-color: #e3e3e3;
} */